.setting-icon:before {
  content: "\f085";
}
.profile-icon:before {
  content: "\f007";
}
.search-icon:before {
  content: "\f002";
}
body,
ul,
button,
input,
h1,
h2,
h3,
h4,
h5,
p {
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;
}
html,
body {
  height: 100%;
}
li {
  list-style: none;
}
.inline {
  float: left;
}
@font-face {
  font-family: FontAwesome;
  src: url("/fonts/font-awesome-4.4.0/fonts/fontawesome-webfont.eot?v=4.3.0");
  src: url("/fonts/font-awesome-4.4.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format('embedded-opentype'), url("/fonts/font-awesome-4.4.0/fonts/fontawesome-webfont.woff2?v=4.3.0") format('woff2'), url("/fonts/font-awesome-4.4.0/fonts/fontawesome-webfont.woff?v=4.3.0") format('woff'), url("/fonts/font-awesome-4.4.0/fonts/fontawesome-webfont.ttf?v=4.3.0") format('truetype'), url("/fonts/font-awesome-4.4.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format('svg');
  font-weight: 400;
  font-style: normal;
}
.fonticon {
  color: #777;
  font-size: 22px;
  cursor: pointer;
  font-family: FontAwesome;
}
#main,
#main-wrapper,
#content {
  height: 100%;
}
.line {
  height: 1px;
  width: 100%;
  background-color: #ccc;
}
.titlebar {
  background-color: #fff;
  width: 100%;
  height: 80px;
  box-shadow: 1px 2px 10px #ccc;
  position: fixed;
}
.titlebar .logobar {
  float: left;
  background-color: #00bfa5;
  text-align: center;
  height: 80px;
  width: 15%;
}
.titlebar .searchbar {
  float: left;
  height: 80px;
  width: 40%;
  position: relative;
}
.titlebar .searchbar .fonticon {
  display: inline-block;
  vertical-align: bottom;
  width: 40px;
  height: 40px;
  background-color: #767d8e;
  color: #eee;
  font-size: 15px;
  text-align: center;
  line-height: 40px;
}
.titlebar .searchbar .search-zone {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 280px;
  height: 40px;
  overflow: hidden;
}
.titlebar .searchbar .search-block {
  padding-left: 20px;
  width: 220px;
  height: 40px;
  background-color: #eee;
}
.titlebar .createbar {
  float: left;
  height: 80px;
  width: 20%;
  position: relative;
}
.titlebar .createbar .create-btn {
  position: absolute;
  width: 100px;
  height: 40px;
  background-color: #dc635f;
  margin-top: 20px;
  left: 40%;
  color: #fff;
  cursor: pointer;
  outline: 0;
}
.titlebar .createbar .create-zone {
  position: absolute;
  top: 80px;
  left: -80px;
  background-color: #eee;
  width: 280px;
  padding: 10px;
}
.titlebar .createbar .create-zone .name-block {
  padding-left: 20px;
  width: 260px;
  height: 40px;
  background-color: #fff;
  margin-bottom: 15px;
}
.titlebar .createbar .create-zone .select-block {
  margin-top: 10px;
}
.titlebar .createbar .create-zone .select-btn {
  background-color: #00bfa5;
  width: 100%;
  height: 32px;
  color: #fff;
  cursor: pointer;
}
.titlebar .createbar .create-zone h4 {
  color: #767d8e;
  padding-bottom: 5px;
  font-size: 12px;
}
.titlebar .createbar .create-zone .triangle {
  width: 0;
  height: 0;
  position: absolute;
  top: -12px;
  left: 230px;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid #eee;
}
.titlebar .createbar .create-zone .select-block span {
  display: inline-block;
  text-align: center;
  line-height: 20px;
  width: 60px;
  height: 20px;
  background-color: #dc635f;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.titlebar .createbar .create-zone .select-block .active {
  background-color: #00bfa5;
}
.titlebar .infobar {
  float: left;
  height: 80px;
  background-color: #eee;
  text-align: center;
}
.titlebar .infobar .fonticon {
  display: inline-block;
  margin: 29px;
}
.titlebar .selectbar {
  float: left;
  width: 10%;
  height: 80px;
  position: relative;
}
.titlebar .selectbar .selectedname {
  width: 100%;
  margin: 25px auto;
  display: inline-block;
  text-align: center;
  font-weight: 900;
  font-family: fantasy;
}
.titlebar .selectbar .grouplist {
  height: 200px;
  overflow-y: scroll;
  margin-top: -15px;
}
.titlebar .selectbar .grouplist li {
  text-align: center;
  height: 40px;
  line-height: 40px;
  background-color: #252626;
  color: #fff;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}
.titlebar .selectbar .grouplist li:hover {
  background-color: #767d8e;
}
.titlebar .selectbar .triangle {
  width: 0;
  height: 0;
  position: relative;
  top: -20px;
  left: 40%;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  cursor: pointer;
}
.titlebar .selectbar .triangle:hover {
  border-top-color: #767d8e;
}
.titlebar .selectbar .triangledown {
  border-top: 20px solid #252626;
}
.titlebar .selectbar .triangleup {
  border-bottom: 20px solid #252626;
}
.itemlist {
  overflow-y: scroll;
  background-color: #252626;
  width: 15%;
  height: 100%;
}
.itemlist-wrapper {
  margin-top: 80px;
}
