<div class="head">
    <div class="wrap">
        <img src="images/gaze-logo.png"/>
    </div>
</div>
<div class="title">
    <div class="title-bg">
        <img src="images/index-titlebg.jpg"/>
    </div>
    <div class="title-cover">
    </div>
    <div class="wrap">
        <div class="title-font">
            <h1>Gaze is a Client Monitoring tool.</h1>

            <h2>Let you know more</h2>
        </div>
        <div class="title-login" id="btn-login">
            <a href="/main">
                Use Gaze right away
            </a>
        </div>
    </div>
</div>