<div id="main"></div>
<script type="text/javascript" src="js/main/bower/sea.js"></script>
<script type="text/javascript" src="js/main/bower/browser-polyfill.js"></script>
<script type="text/javascript" src="js/main/bower/fetch.js"></script>

<script type="text/javascript">
    seajs.config({
        base: "/js/main/react",
        paths: {
            b: "../bower"
        },
        alias: {
            'd3': 'd3.min',
            'react-d3': 'charts/index'
        }
    });
    seajs.use("main.js");
</script>